
  .heading{
      padding: 25px;
      margin-left: 30px;
  }
  .summaryContainer{
    margin: 14px;
}
.card{
    padding: 100px;
    margin: 10px;
}

.mat-card {
    margin: 10px;
    padding: 16px;
    /* border-radius: 4px; */
}